.left{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.right{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.images{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -5px;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.insta{
    height:35px;
    width: 35px;
}
.whatsapp{
    padding-bottom: 2px;
    height:30px;
    width: 30px;
}
.tiktok{
    height:35px;
    width: 35px;
}
.all {
    padding: 10px 10px 10px 10px;
    font-family: "Candara";
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.BottomText{
    margin-right: 10px;
    margin-top: -10px;
}



