.everything {
    margin-top: -19px;
    font-family: "Candara";
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.content {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    margin-top: -20px;
    position: relative;
    justify-content: center;
}

.Perfumes,
.AirR,
.New,
.BS {
    font-size: clamp(14px, 2vw, 20px);
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
    overflow-x: auto;
}


.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10px;
}

.menuItem:hover .dropdown{
display: block;
}

.pListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
}

.pList, .pList1, .pList2, .pList3, .pList4 {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

  .titleAR{
      text-align: center;
  }
  .ARL{
    list-style: none;

  }
.ARR{
    list-style: none;
}
.HamburgerMenu{
    display: none;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 830px) {
    .HamburgerMenu{
display: block;
    }

    .content{
        overflow: hidden;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background: white;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    .showMenu{
        display: flex;
    }
    .dropdown{
        position: static;
        box-shadow: none;
        border: none;
    }
    .menuItem{
    width: 100%;

    }
    .pListContainer{
        display: flex;
        justify-content: flex-start;
    }

    .pList, .pList1, .pList2, .pList3, .pList4 {
        font-size: 10px;
        margin-left: -1.2rem;
    }
    .brands{
        gap: 0.8rem;
        font-size: 14px;
        margin-left: -2rem;
    }
    .Perfumes,
    .AirR,
    .New,
    .BS{
        font-size: 1.3rem;
        font-family: "Candara";
        display: flex;
        justify-content: center;
    }
    .pList li,
    .pList1 li,
    .pList2 li,
    .pList3 li,
    .pList4 li {
        margin-bottom: 0.5rem;
    }
    .AirR{

    }
.ARL,
.ARR{
    display: flex;
   margin-left: -4rem;
}
}