* {
margin: 0;
}
@font-face {
    font-family: "Aref Ruqaa";
    src:
            local("ArefRuqaa"),
            url("/ArefRuqaa-Regular.ttf");
}
body.sidebar-open {
    position: fixed;
    width: 100%;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: contain;
}
